
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        flex-direction: column;
        text-align: center;
    }

    .exchange-title {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #3114ed;
    }

    .exchange-message {
        font-size: 1.1rem;
        color: #ffffff;
        max-width: 600px;
    }
</style>

<div class="centered-container">
    <h2 class="exchange-title">Exchange Expire</h2>
    <p class="exchange-message">
        Üye olduktan <strong>1 dakika</strong> sonra bu sayfayı görebileceğiniz özel bir <em>policy</em> kodladım.
    </p>
</div>
